<% provide(:title,"ユーザー編集") %>

<div class="edit-container">
  <div class="edit-contents">
    <%= form_tag("/users/#{@target_user.name}/update",multipart: true) do %>
      <div class="edit-view">
        <div class="edit-image-container">
          <div class="edit-image">
            <%= image_tag(@target_user.image_name.url,id: "user-image") %>
          </div>
        </div>
        <input type="file" accept="image/png,image/gif,image/jpeg" id="user-image-file" name="image_name">
        <input type="button" id="user-image-select" value="画像を選択">
        <p><%= @target_user.name %></p>
      </div>
      <div class="edit-tag">
        <p>タグ</p>
        <input type="text" placeholder="スペース区切りで入力" name="tags" value="<%= @target_user.tags %>">
      </div>
      <input type="submit" value="変更する" class="edit-submit">
    <% end %>
    <div class="edit-worning">
      <p>Worning!</p>
      <%= link_to("アカウントを削除する","/users/#{@target_user.name}/destroy",{method:"post"}) %>
    </div>
  </div>
</div>