<% provide(:title,@target_user.name) %>

<div class="user-container">
  <div class="user-contents">
    <%= render("users/profile") %>
    <div class="user-main user-line">
      <div class="follow-main-container">
        <h1>フォロー</h1>
        <% if !@users.blank? %>
          <ul class="follow-user-list">
            <% @users.each do |user| %>
              <li>
                <%= link_to("/users/#{user.name}") do %>
                  <%= image_tag(user.image_name.url) %>
                <% end %>
                <div class="follow-user-name">
                  <%= link_to(user.name,"/users/#{user.name}") %>
                </div>
              </li>
            <% end %>
          </ul>
          <%= paginate @users %>
        <% else %>
          <p class="non-content">フォローしているユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>