<% provide(:title,"ユーザー詳細") %>

<div class="user-container">
  <div class="user-contents">
    <%= render("users/profile") %>
    <div class="user-main user-line">
      <div class="follow-main-container">
        <h1>フォロワー</h1>
        <ul class="follow-user-list">
          <% @users.each do |user| %>
            <li>
              <%= link_to("/users/#{user.name}") do %>
                <%= image_tag("/user_images/#{user.image_name}") %>
              <% end %>
              <div class="follow-user-name">
                <%= link_to(user.name,"/users/#{user.name}") %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>