<% provide(:title,"ユーザー詳細") %>

<div class="user-container">
  <div class="user-contents">
    <div class="user-side user-line">
      <div class="user-side-container">
        <div class="user-view">
          <%= image_tag("/user_images/#{@target_user.image_name}") %>
          <p><%= @target_user.name %></p>
        </div>
        <div class="user-num-info">
          <div class="user-num">
            <p>0</p>
            <p>投稿</p>
          </div>
          <div class="user-num">
            <p>0</p>
            <p>フォロー</p>
          </div>
          <div class="user-num">
            <p>0</p>
            <p>フォロワー</p>
          </div>
        </div>
        <% if @current_user == @target_user %>
          <%= link_to("アカウントを編集する","/users/#{@target_user.name}/edit") %>
        <% end %>
      </div>
    </div>
    <div class="user-main user-line">
      <div class="user-main-container">
        <h1>投稿作品</h1>
        <ul>
          <% @posts.each do |post| %>
            <li>
              <%= link_to("/") do %>
                <div class="user-image">
                  <%= image_tag("/post_images/#{post.image_name}") %>
                </div>
                <p><%= post.title %></p>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>