<div class="home-container">
  <div class="home-contents">
    <div class="home-menu home-line">
      <div id="dropdown-click"><%= @content_name %></div>
      <div id="dropdown-menu">
        <div class="home-content-menu">
          <%= link_to("/") do %>
            <span>新着</span>
          <% end %>
          <% if @current_user %>
            <%= link_to("/timeline") do %>
              <span>タイムライン</span>
            <% end %>
            <%= link_to("/tag") do %>
              <span>タグ</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="home-main home-line">
      <div class="home-main-container">
        <h1><%= @content_name %></h1>
        <% if !@posts.blank? %>
          <ul>
            <% @posts.each do |post| %>
              <li class="home-content">
                <%= link_to("/posts/#{post.user.name}/#{post.id}") do %>
                  <div class="home-img-container">
                    <%= image_tag("/post_images/#{post.image_name}") %>
                  </div>
                  <p><%= post.title %></p>
                <% end %>
                <div class="user-like-view">
                  <div><%= post.post_likes.count %> いいね</div>
                </div>
              </li>
            <% end %>
          </ul>
          <%= paginate(@posts) %>
        <% else %>
          <p class="non-content">投稿がありません</p>
        <% end %>
      </div>
    </div>
    <div class="home-side home-line">
      <div class="home-side-container">
        <div class="home-user-ran home-ranking">
          <h2>ユーザーランキング</h2>
          <ul>
            <% rank = 0 %>
            <% post_old = 100000 %>
            <% User.order(post_count: :desc).limit(10).each.with_index(1) do |user,i| %>
              <%
                if user.post_count == 0
                  break
                end
              
                if user.post_count < post_old
                  rank = i
                  post_old = user.post_count
                end
              %>
              <li>
                <div class="home-name-info">
                  <p><%= rank %></p>
                  <%= link_to(user.name,"/users/#{user.name}") %>
                </div>
                <div class="home-num-info">
                  <div>
                    <p><%= user.post_count %></p>
                    <p>posts</p>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="home-category-ran home-ranking">
          <h2>いいねランキング</h2>
          <ul>
            <% rank = 0 %>
            <% like_old = 100000 %>
            <% Post.order(like_count: :desc).limit(10).each.with_index(1) do |post,i| %>
              <%
                if post.like_count == 0
                  break
                end
              
                if post.like_count < like_old
                  rank = i
                  like_old = post.like_count
                end
              %>
              <li>
                <div class="home-name-info">
                  <p><%= rank %></p>
                  <%= link_to(post.title,"/posts/#{post.user.name}/#{post.id}") %>
                </div>
                <div class="home-num-info">
                  <div>
                    <p><%= post.like_count %></p>
                    <p>いいね</p>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>