<div class="work-container">
  <div class="work-contents">
    <p><%= link_to(@user.name, "/users/#{@user.name}", class: "work-user-name") %></p>
    <h1><%= @post.title %></h1>
    <div class="work-img-container">
      <div class="work-img-content">
        <%= image_tag("/post_images/#{@post.image_name}") %>
      </div>
    </div>
    <div class="work-tags">
      <% @tags.each do |tag| %>
        <%= link_to("/posts/search?word=#{tag}") do %>
          <span><%= tag %></span>
        <% end %>
      <% end %>
    </div>
    <div class="work-content">
      <% @post_contents.each do |content| %>
        <%= content %><br/>
      <% end %>
    </div>
    <% if @current_user != @target_user %>
      <div class="work-like">
        <% if @user %>
          <%= link_to("/likes/#{@user.name}/#{@post.id}/like",method: :post) do %>
            <div class="work-like-wrapper">
              <div class="fas fa-heart work-like-gray"></div>
              <span>111</span>
            </div>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@user.name}/#{@post.id}/unlike",method: :post) do %>
            <div class="work-like-wrapper">
              <div class="fas fa-heart work-like-red"></div>
              <span>111</span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>