<% provide(:title,@post.title) %>

<div class="work-container">
  <div class="work-contents">
    <p>by </span><%= link_to("#{@target_user.name}", "/users/#{@target_user.name}", class: "work-user-name") %></p>
    <h1><%= @post.title %></h1>
    <div class="work-img-container">
      <div class="work-img-content">
        <%= image_tag(@post.image_name.url) %>
      </div>
    </div>
    <div class="work-tags">
      <% @tags.each do |tag| %>
        <%= link_to("/posts/search?word=#{tag}") do %>
          <span><%= tag %></span>
        <% end %>
      <% end %>
    </div>
    <div class="work-content">
      <% @post_contents.each do |content| %>
        <%= content %><br/>
      <% end %>
    </div>
    <% if @current_user != @target_user %>
      <div class="work-like">
        <% if @current_user %>
          <% if @current_user && @current_user.like?(@post) %>
            <%= link_to("/likes/#{@target_user.name}/#{@post.id}/unlike",method: :post) do %>
              <div class="work-like-wrapper">
                <div class="fas fa-heart work-like-red"></div>
                <span><%= @post.post_likes.count %></span>
              </div>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{@target_user.name}/#{@post.id}/like",method: :post) do %>
              <div class="work-like-wrapper">
                <div class="fas fa-heart work-like-gray"></div>
                <span><%= @post.post_likes.count %></span>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="work-like-wrapper">
            <div class="work-like-black"><%= @post.post_likes.count %></div>
            <span>いいね</span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>